TXRTMPSDK.framework/ 
TXRTMPSDK.framework/Info.plist
TXRTMPSDK.framework/TXRTMPSDK
TXRTMPSDK.framework/Headers/COSClient.h
TXRTMPSDK.framework/Headers/COSTask.h
TXRTMPSDK.framework/Headers/TXLiveBase.h
TXRTMPSDK.framework/Headers/TXLivePlayConfig.h
TXRTMPSDK.framework/Headers/TXLivePlayer.h
TXRTMPSDK.framework/Headers/TXLivePlayListener.h
TXRTMPSDK.framework/Headers/TXLivePush.h
TXRTMPSDK.framework/Headers/TXLivePushConfig.h
TXRTMPSDK.framework/Headers/TXLivePushListener.h
TXRTMPSDK.framework/Headers/TXLiveSDKEventDef.h
TXRTMPSDK.framework/Headers/TXLiveSDKTypeDef.h
TXRTMPSDK.framework/Headers/TXUGCPublish.h
TXRTMPSDK.framework/Headers/TXUGCRecord.h
TXRTMPSDK.framework/Headers/TXUGCRecordListener.h
TXRTMPSDK.framework/Headers/TXUGCRecordTypeDef.h
TXRTMPSDK.framework/Headers/TXVideoCustomProcessDelegate.h
TXRTMPSDK.framework/Headers/TXVideoEditer.h
Doctor/Classes/Player/PlayerUI/PlayerManager.h
Doctor/Classes/Player/PlayerUI/PlayerManager.m
Doctor/Classes/Player/PlayerUI/UCloudBrightnessView.h
Doctor/Classes/Player/PlayerUI/UCloudBrightnessView.m
Doctor/Classes/Player/PlayerUI/UCloudHeader.h
Doctor/Classes/Player/PlayerUI/UCloudLoadingView.h
Doctor/Classes/Player/PlayerUI/UCloudLoadingView.m
Doctor/Classes/Player/PlayerUI/UCloudMediaViewController.h
Doctor/Classes/Player/PlayerUI/UCloudMediaViewController.m
Doctor/Classes/Player/PlayerUI/UCloudMediaViewController.xib
Doctor/Classes/Player/PlayerUI/UCloudProgressView.h
Doctor/Classes/Player/PlayerUI/UCloudProgressView.m
Doctor/Classes/Player/PlayerUI/Class/UIWindow+YzdHUD.h
Doctor/Classes/Player/PlayerUI/Class/UIWindow+YzdHUD.m
Doctor/Classes/Player/PlayerUI/Class/YzdHUDBackgroundView.h
Doctor/Classes/Player/PlayerUI/Class/YzdHUDBackgroundView.m
Doctor/Classes/Player/PlayerUI/Class/YzdHUDImageView.h
Doctor/Classes/Player/PlayerUI/Class/YzdHUDImageView.m
Doctor/Classes/Player/PlayerUI/Class/YzdHUDIndicator.h
Doctor/Classes/Player/PlayerUI/Class/YzdHUDIndicator.m
Doctor/Classes/Player/PlayerUI/Class/YzdHUDLabel.h
Doctor/Classes/Player/PlayerUI/Class/YzdHUDLabel.m
Doctor/Classes/Player/PlayerUI/Resuce/bg_screen_shot_complete.png
Doctor/Classes/Player/PlayerUI/Resuce/bg_screen_shot_complete@2x.png
Doctor/Classes/Player/PlayerUI/Resuce/bg_screen_shot_complete@3x.png
Doctor/Classes/Player/PlayerUI/Resuce/bg_screen_shot_frame.png
Doctor/Classes/Player/PlayerUI/Resuce/bright_point.png
Doctor/Classes/Player/PlayerUI/Resuce/brightness_bgiphone.png
Doctor/Classes/Player/PlayerUI/Resuce/brightness_bg~iphone@3x.png
Doctor/Classes/Player/PlayerUI/Resuce/danmu.png
Doctor/Classes/Player/PlayerUI/Resuce/danmu_h.png
Doctor/Classes/Player/PlayerUI/Resuce/ic_screen_shot.png
Doctor/Classes/Player/PlayerUI/Resuce/icon_bottomview_brightness_button_normal.png
Doctor/Classes/Player/PlayerUI/Resuce/icon_bottomview_brightness_button_selected.png
Doctor/Classes/Player/PlayerUI/Resuce/icon_bottomview_pause_button_normal.png
Doctor/Classes/Player/PlayerUI/Resuce/icon_bottomview_play_button_normal.png
Doctor/Classes/Player/PlayerUI/Resuce/icon_bottomview_volume_button_normal.png
Doctor/Classes/Player/PlayerUI/Resuce/icon_bottomview_volume_button_selected.png
Doctor/Classes/Player/PlayerUI/Resuce/icon_play_status.png
Doctor/Classes/Player/PlayerUI/Resuce/icon_screen_shot_action.png
Doctor/Classes/Player/PlayerUI/Resuce/icon_topview_left__button_selected.png
Doctor/Classes/Player/PlayerUI/Resuce/icon_topview_left_button_normal.png
Doctor/Classes/Player/PlayerUI/Resuce/icon_topview_right_button_normal.png
Doctor/Classes/Player/PlayerUI/Resuce/icon_topview_right_button_selected.png
Doctor/Classes/Player/PlayerUI/Resuce/loading.png
Doctor/Common/Third/Player/libUCloudMediaPlayer.a
Doctor/Common/Third/Player/UCloudMediaModule.h
Doctor/Common/Third/Player/UCloudMediaPlayback.h
Doctor/Common/Third/Player/UCloudMediaPlayer.h
Doctor/Common/Third/Player/UCloudPlayback.h
Doctor/Common/Third/Recorder/CameraServer.h
Doctor/Common/Third/Recorder/FilterManager.h
Doctor/Common/Third/Recorder/FilterManager.m
Doctor/Common/Third/Recorder/libUCloudMediaRecorder.a
Doctor/Common/Third/Recorder/NSString+UCloudCameraCode.h
Doctor/Common/Third/Recorder/UCloudRecorderTypeDef.h
Doctor/Common/Third/Recorder/Filter/UCloudGLProgram.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImage.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImage3x3ConvolutionFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImage3x3TextureSamplingFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageAdaptiveThresholdFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageAddBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageAlphaBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageAmatorkaFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageAverageColor.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageAverageLuminanceThresholdFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageBeautyFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageBeautyFilter2.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageBilateralFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageBoxBlurFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageBrightnessFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageBuffer.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageBulgeDistortionFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageCannyEdgeDetectionFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageCGAColorspaceFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageChromaKeyBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageChromaKeyFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageClosingFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageColorBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageColorBurnBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageColorConversion.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageColorDodgeBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageColorInvertFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageColorLocalBinaryPatternFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageColorMatrixFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageColorPackingFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageColourFASTFeatureDetector.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageColourFASTSamplingOperation.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageContext.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageContrastFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageCropFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageCrosshairGenerator.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageCrosshatchFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageDarkenBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageDifferenceBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageDilationFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageDirectionalNonMaximumSuppressionFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageDirectionalSobelEdgeDetectionFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageDissolveBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageDivideBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageEmbossFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageErosionFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageExclusionBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageExposureFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageFalseColorFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageFASTCornerDetectionFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageFilterGroup.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageFilterPipeline.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageFourInputFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageFramebuffer.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageFramebufferCache.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageGammaFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageGaussianBlurFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageGaussianBlurPositionFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageGaussianSelectiveBlurFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageGlassSphereFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageGrayscaleFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageHalftoneFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageHardLightBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageHarrisCornerDetectionFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageHazeFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageHighlightShadowFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageHighPassFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageHistogramEqualizationFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageHistogramFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageHistogramGenerator.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageHoughTransformLineDetector.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageHSBFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageHueBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageHueFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageiOSBlurFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageJFAVoronoiFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageKuwaharaFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageKuwaharaRadius3Filter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageLanczosResamplingFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageLaplacianFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageLevelsFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageLightenBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageLinearBurnBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageLineGenerator.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageLocalBinaryPatternFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageLookupFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageLowPassFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageLuminanceRangeFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageLuminanceThresholdFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageLuminosity.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageLuminosityBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageMaskFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageMedianFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageMissEtikateFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageMonochromeFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageMosaicFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageMotionBlurFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageMotionDetector.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageMovie.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageMovieComposition.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageMovieWriter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageMultiplyBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageNobleCornerDetectionFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageNonMaximumSuppressionFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageNormalBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageOpacityFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageOpeningFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageOutput.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageOverlayBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageParallelCoordinateLineTransformFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImagePerlinNoiseFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImagePicture+TextureSubimage.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImagePicture.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImagePinchDistortionFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImagePixellateFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImagePixellatePositionFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImagePoissonBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImagePolarPixellateFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImagePolkaDotFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImagePosterizeFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImagePrewittEdgeDetectionFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageRawDataInput.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageRawDataOutput.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageRGBClosingFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageRGBDilationFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageRGBErosionFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageRGBFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageRGBOpeningFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageSaturationBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageSaturationFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageScreenBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageSepiaFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageSharpenFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageShiTomasiFeatureDetectionFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageSingleComponentGaussianBlurFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageSketchFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageSmoothToonFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageSobelEdgeDetectionFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageSoftEleganceFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageSoftLightBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageSolidColorGenerator.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageSourceOverBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageSphereRefractionFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageStillCamera.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageStretchDistortionFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageSubtractBlendFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageSwirlFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageTextureInput.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageTextureOutput.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageThreeInputFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageThresholdEdgeDetectionFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageThresholdedNonMaximumSuppressionFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageThresholdSketchFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageTiltShiftFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageToneCurveFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageToonFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageTransformFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageTwoInputCrossTextureSamplingFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageTwoInputFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageTwoPassFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageTwoPassTextureSamplingFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageUIElement.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageUnsharpMaskFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageVideoCamera.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageView.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageVignetteFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageVoronoiConsumerFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageWeakPixelInclusionFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageWhiteBalanceFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageXYDerivativeFilter.h
Doctor/Common/Third/Recorder/Filter/UCloudGPUImageZoomBlurFilter.h
