<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>医师</string>
		<key>subNames</key>
		<array>
			<string>主任医师</string>
			<string>副主任医师</string>
			<string>主治医师</string>
			<string>住院医师</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>技师</string>
		<key>subNames</key>
		<array>
			<string>主任技师</string>
			<string>副主任技师</string>
			<string>主管技师</string>
			<string>技师</string>
			<string>技士</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>护理</string>
		<key>subNames</key>
		<array>
			<string>主任护师</string>
			<string>副主任护师</string>
			<string>主管护师</string>
			<string>护士</string>
			<string>其他</string>
		</array>
	</dict>
</array>
</plist>
