<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>全科</string>
		<key>subNames</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>内科</string>
		<key>subNames</key>
		<array>
			<string>普内科</string>
			<string>呼吸内科</string>
			<string>心血管内科</string>
			<string>消化内科</string>
			<string>神经内科</string>
			<string>血液内科</string>
			<string>内分泌科</string>
			<string>风湿免疫科</string>
			<string>感染科</string>
			<string>肾内科</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>外科</string>
		<key>subNames</key>
		<array>
			<string>普外科</string>
			<string>胸外科</string>
			<string>心脏外科</string>
			<string>神经外科</string>
			<string>肠胃外科</string>
			<string>肛肠科</string>
			<string>血管外科</string>
			<string>泌尿外科</string>
			<string>乳腺外科</string>
			<string>肝胆胰外科</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>妇产科</string>
		<key>subNames</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>儿科</string>
		<key>subNames</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>口腔科</string>
		<key>subNames</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>骨外科</string>
		<key>subNames</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>肿瘤科</string>
		<key>subNames</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>眼科</string>
		<key>subNames</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>皮肤科</string>
		<key>subNames</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>急诊科</string>
		<key>subNames</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>重症医学科</string>
		<key>subNames</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>耳鼻喉头颈外科</string>
		<key>subNames</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>介入科</string>
		<key>subNames</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>麻醉科</string>
		<key>subNames</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>其他专科</string>
		<key>subNames</key>
		<array/>
	</dict>
</array>
</plist>
